.post_form
  #latestnews_ticker{:style=>"padding:0 10px;white-space:nowrap"}
  %marquee{:onMouseOver=>"this.stop();", :onMouseOut=>"this.start();",
  :scrolldelay=>10, :scrollamount=>4, :behavior=>"scroll"}
  How was your day?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  What did you eat?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  How do you feel right now?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Where did you go?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  How did you commute?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Any messages for your future self?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Did you play any sports?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  #logo
    = image_tag("owlly.png")
  .notifications
    - if @post.errors.any?
      .error_message
        %ul.errors
          - @post.errors.full_messages.each do |msg|
            .error
              %li= msg
    - elsif flash[:notice]
      .notice
        = flash[:notice]
    - elsif flash[:error]
      .error
        = flash[:error]
    - else
      .normal
        Have something on your mind? Post it!

  = form_for(@post) do |f|
    #form_post_text.field
      = f.text_area :message, placeholder: 'Get it off your chest...', autofocus: true
    #form_post_submit.actions
      = f.submit 'Remember this!'
