.post_form
  - if @post.errors.any?
    .error_message
      %h4 
        Oops...
      %ul.errors
        - @post.errors.full_messages.each do |msg|
          %li= msg

  = form_for(@post) do |f|
    - if flash[:notice]
      .notice
        = flash[:notice] 
    - elsif flash[:error]
      .error
        = flash[:error]

    .post_content.field
      = f.text_field :message, placeholder: 'Write something interesting here...', autofocus: true
    .post_submit.actions
      = f.submit