.post_form
  .notifications
    - if @post.errors.any?
      .error_message
        %ul.errors
          - @post.errors.full_messages.each do |msg|
            .error
              %li= msg
    - elsif flash[:notice]
      .notice
        = flash[:notice]
    - elsif flash[:error]
      .error
        = flash[:error]
    - else
      .normal
        Have something on your mind? Post it!

  = form_for(@post) do |f|
    #form_post_text.field
      = f.text_area :message, placeholder: 'Get it off your chest...', autofocus: true
    #form_post_submit.actions
      = f.submit 'Remember this!'
