.site_wrapper
  #main.container
    #home
      .table#diary_table
        #diary
          #prompts
          = render 'form'

      #prototype.post
        .row
          .col-xs-3
            .post_datetime
              .post_date
                #{@current_date}
              .post_time
                #{@current_time}
            #carousel
              %a.prev.command
                = evil_icon 'ei-arrow-left'
              .keyword
                %p
              %a.next.command
                = evil_icon 'ei-arrow-right'
              %ul#imageCarousel
                - (0..5).each do |i|
                  %li.imageItem{id: "image#{i}"}
                    = image_tag "", atr: ""
          .col-xs-7
            .post_content
          .col-xs-2
            .post_sentiment_emoji
              😐
        .row
          .col-xs-2
          .col-xs-10
            .post_emojis

    .timeline
      %h2
        Your Timeline
      - if @posts.length == 0
        %p
          Your timeline seems to be empty! Write something in the form above.
      - else
        - @posts.reverse_each do |post|
          .post{ style: "background-color: " + post.sentiment + ";"}
            .row
              .col-xs-2
                .post_datetime
                  .post_date
                    = post.created_at.strftime("%d %b")
                  .post_time
                    = post.created_at.strftime("%l:%M%P")
              .col-md-8
                .post_content
                  = simple_format(post.message)
              .col-xs-2
                .post_sentiment_emoji
                  = post.sent_emoji
            .row
              .col-xs-2
                .post_delete_button
                  = button_to "Delete", post_path(post), method: :delete
              .col-xs-10
                .post_emojis
                  = post.emojis
