.site_wrapper
  #main.container
    #home
      .table#diary_table
        #diary
          #prompts
          = render 'form'

      #prototype.post
        .row

          .col-xs-10
            .post_content
              %p
              -# #protoCar.carousel.slide{"data-ride" => "carousel", style: "float: left" }
              -#   .carousel-inner{:role => "listbox"}
          .col-xs-2
            .post_sentiment_emoji
              ðŸ˜
            .post_emojis{style: "text-align: center"}
        .row
          .col-xs-3
          .col-xs-7
          .col-xs-2
            .post_datetime
              .post_date
                #{@current_date}
              .post_time
                #{@current_time}

    .timeline
      %h2
        Your Timeline
      - if @posts.length == 0
        %p
          Your timeline seems to be empty! Write something in the form above.
      - else
        - @posts.reverse.each_with_index do |post, index|
          .post{ style: "background-color: " + post.sentiment + ";"}
            .row
              .col-xs-10
                .post_content{style: "text-align: left"}
                  - first = post.image_url.split(",").pop
                  - unless first.nil?
                    .carousel.slide{"data-ride" => "carousel", id: index, style: "float: left"}
                      .carousel-inner{:role => "listbox"}
                        .item.active
                          = image_tag first
                        - post.image_url.split(",").each do |url|
                          .item
                            = image_tag url
                            .carousel-caption
                  = simple_format(post.message)
              .col-xs-2
                .post_sentiment_emoji
                  = post.sent_emoji
                .post_emojis{style: "text-align: center"}
                  = post.emojis
            .row
              .col-xs-2
                .post_delete_button.btn.btn-primary.btn-block
                  = button_to "Delete", post_path(post), method: :delete
              .col-xs-8

              .col-xs-2
                .post_datetime
                  .post_date
                    = post.created_at.strftime("%d %b")
                  .post_time
                    = post.created_at.strftime("%l:%M%P")
